# Node dependencies
node_modules/

# Expo specific
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
android/
ios/

# React Native & Metro
*.packager
*.iml
*.hprof
*.swp
*.log
*.tmp
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.db

# Metro bundler cache
.metro-cache/
metro-cache/
.metro-health-check*

# TypeScript
*.tsbuildinfo

# macOS system files
.DS_Store

# Environment variables
.env
.env.*.local
.env.local
.env.production
.env.development

# IDEs and editors
.vscode/
.idea/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
build/
android/*
ios/build/
ios/Pods/
android/

# CocoaPods
ios/Pods/

# Misc
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

.env
